In [1]:
import geopandas as gpd
import pandas as pd
from shapely.geometry import point
%matplotlib inline

In [2]:
sta= gpd.read_file("point.shp")
pat= gpd.read_file("point_1.shp")

In [4]:
sta.head()

     id              X                         geometry
0  None -477325.909405  POINT (-477325.909 3187985.360)
1  None -477383.036543  POINT (-477383.037 3187935.671)
2  None -477251.959466  POINT (-477251.959 3187926.897)
3  None -477314.022063  POINT (-477314.022 3187883.250)
4  None -477308.593280  POINT (-477308.593 3187805.079)

In [5]:
pat.head()

     id             y                         geometry
0  None  3.187985e+06  POINT (-477325.909 3187985.360)
1  None  3.187936e+06  POINT (-477383.037 3187935.671)
2  None  3.187927e+06  POINT (-477251.959 3187926.897)
3  None  3.187883e+06  POINT (-477314.022 3187883.250)
4  None  3.187805e+06  POINT (-477308.593 3187805.079)

In [6]:
pat_sta =gpd.sjoin(pat,sta,how='inner',op='within')
pat_sta.head()

,id_left,y,geometry,index_right,id_right,X
0,None,3.187985e+06,POINT (-477325.909 3187985.360),0,None,-477325.909405
1,None,3.187936e+06,POINT (-477383.037 3187935.671),1,None,-477383.036543
2,None,3.187927e+06,POINT (-477251.959 3187926.897),2,None,-477251.959466
3,None,3.187883e+06,POINT (-477314.022 3187883.250),3,None,-477314.022063
4,None,3.187805e+06,POINT (-477308.593 3187805.079),4,None,-477308.593280

In [ ]:
#To check the crs
#sta.crs
#to make the crs system of both the shapefile
#sta.to_crs(pat.crs,implace=True)

In [17]:
pat.shape #to denote the shape

(28, 3)

In [19]:
pat.y.value_counts() #if any value to be count in the dataset

3.187830e+06    1
3.187938e+06    1
3.187845e+06    1
3.187886e+06    1
3.187853e+06    1
3.187813e+06    1
3.187799e+06    1
3.187921e+06    1
3.187798e+06    1
3.187985e+06    1
3.187759e+06    1
3.187751e+06    1
3.187771e+06    1
3.187805e+06    1
3.187889e+06    1
3.187939e+06    1
3.187901e+06    1
3.187893e+06    1
3.187906e+06    1
3.187795e+06    1
3.187927e+06    1
3.187921e+06    1
3.187890e+06    1
3.187782e+06    1
3.187801e+06    1
3.187936e+06    1
3.187883e+06    1
3.187785e+06    1
Name: y, dtype: int64